---
layout: page
---

<link rel="stylesheet" href="/assets/css/base.css" />
<link rel="stylesheet" href="/assets/css/about.css" />
<script src="/assets/js/about.js" defer></script>

<div class="about-tabs">
  <div class="tab-navigation">
    <button class="tab-button active" data-tab="education">
      <i class="fas fa-graduation-cap"></i>
      Education
    </button>
    <button class="tab-button" data-tab="experience">
      <i class="fas fa-briefcase"></i>
      Experience
    </button>
    <button class="tab-button" data-tab="projects">
      <i class="fas fa-code-branch"></i>
      Projects
    </button>
    <button class="tab-button" data-tab="skills">
      <i class="fas fa-tools"></i>
      Skills
    </button>
    <button class="tab-button" data-tab="certifications">
      <i class="fas fa-certificate"></i>
      Certifications
    </button>
  </div>

  <div class="tab-content-container">{{ content }}</div>
</div>
